.timer {
  z-index: 2;
  backdrop-filter: blur(10px);
  background: rgba(59, 59, 59, 0.5);
  padding: 30px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  animation: float 4s ease-in-out infinite;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__label {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.9;
    background: none;
  }

  &__blocks {
    background: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__item {
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__value {
    background: none;
    font-size: 38px;
    font-weight: 600;
    margin: 0;
  }

  &__unit {
    background: none;
    font-size: 14px;
    opacity: 0.8;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
