header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  height: 100px;
  position: relative;

  a {
    transition: 0.3s ease;
  }

  a:hover {
    opacity: 0.8;
    color: var(--color-primary);
  }
}

.nav-block {
  display: flex;
  align-items: center;
  gap: 20px;

  &__nav {
    display: flex;
    gap: 22px;
    font-weight: 600;

    a {
      color: var(--white);

      &.active {
        color: var(--color-primary) !important;
      }
    }
  }

  &__btn {
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 0px 30px;
    gap: 12px;
    height: 60px;
    background: var(--color-primary);
    border-radius: 20px;
    transition: 0.3s;
    color: var(--white);

    &:hover {
      transform: translateY(-2px);
      box-shadow: var(--shadow-md);
      color: white;
    }

    p {
      background: var(--color-primary);
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 140%;
      text-align: center;
    }
    img {
      background: var(--color-primary);
    }
  }
}

.burger {
  width: 28px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  span {
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 5px;
    transition: 0.3s;
  }
}

.mobile-menu {
  position: absolute;
  top: 100px;
  right: 0;
  width: 100%;
  padding: 20px;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;

  a {
    color: var(--white);
    font-size: 18px;
  }

  a.active {
    color: var(--color-primary) !important;
    font-weight: 700;
  }
}

header.open {
  .mobile-menu {
    display: flex;
    animation: fade 0.3s ease;
  }

  .burger span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .burger span:nth-child(2) {
    opacity: 0;
  }
  .burger span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media (max-width: 768px) {
  .nav-block {
    display: none;
  }

  .burger {
    display: flex;
  }
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
