.marketplace {
  margin: 80px auto;
  padding: 0px;
  color: #fff;

  &__header {
    padding: 20px;
  }
  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 51px;
    line-height: 110%;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 16px;
    color: var(--color-grey-light);
    margin-bottom: 30px;
  }

  &__input-wrapper {
    position: relative;

    input {
      width: 100%;
      border: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 12px 20px;
      gap: 10px;
      border: 1px solid var(--color-grey-dark);
      border-radius: 20px;
      color: white;

      &:focus {
        outline: none;
      }
    }

    img {
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
    }
  }

  &__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    gap: 12px;

    height: 60px;

    border: 2px solid var(--color-primary);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    color: white;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;

    &:hover {
      background: white;
      color: var(--color-grey-dark);

      img {
        background: white;
      }
    }
  }

  &__list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  background: var(--color-grey-dark);
  border-radius: 20px;
  flex-grow: 1;
  max-width: 330px;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 16px var(--color-primary);
  }

  &__img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
  }

  &__info {
    width: calc(100% - 40px);
    padding: 20px;
    background: inherit;
    border-radius: 0px 0px 20px 20px;
  }

  &__title {
    font-size: 22px;
    font-weight: 600;
    background: inherit;
  }

  &__author {
    font-size: 16px;
    color: var(--color-grey-light);
    margin-bottom: 10px;
    background: inherit;
    display: flex;
    gap: 5px;

    img {
      background: inherit;
      width: 24px;
      height: 24px;
    }
  }

  &__details {
    width: 100%;
    font-size: 14px;
    color: var(--color-grey-light);
    background: inherit;
    p {
      background: inherit;
    }

    span {
      color: #fff;
      background: inherit;
    }
  }
}

@media (max-width: 768px) {
  .marketplace {
    &__title {
      font-size: 24px;
    }

    &__list {
      flex-direction: column;
      gap: 20px;
    }
  }

  .card {
    flex: 1 1 100%;

    &__img {
      height: 250px;
    }
  }
}
