.signup {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;

  &__img {
    display: flex;
    align-items: center;
    max-width: 610px;
    height: 691px;
  }

  &__form {
    max-width: 610px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  &__title {
    padding: 0px;
    margin: 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 51px;
    line-height: 110%;
  }

  &__subtitle {
    max-width: 460px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 160%;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    width: 330px;
  }
}

.input-wrapper {
  position: relative;
  width: 100%;
  padding: 16px 20px;
  gap: 12px;
  width: 330px;
  height: 46px;
  background: white;
  border: 1px solid var(--color-grey-light);
  border-radius: 20px;
  transition: 0.25s ease;
  display: flex;
  align-items: center;

  img {
    background: white;
    position: absolute;
    top: 50%;
    left: 14px;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    opacity: 0.6;
    transition: 0.25s ease;
  }

  input {
    width: 100%;
    border: none;
    padding-left: 26px;
    font-size: 16px;
    color: #2b2b2b;
    background: white;
    outline: none;
    transition: 0.25s ease;

    &::placeholder {
      color: #777;
      transition: 0.25s ease;
    }
  }

  &:hover {
    border-color: var(--color-primary);
    transform: translateY(-2px);
    box-shadow: 0px 4px 12px var(--color-primary);
  }
}

.signup {
  &__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    gap: 12px;
    width: 330px;
    height: 46px;
    background: var(--color-primary);
    border-radius: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;

    color: #ffffff;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0px 6px 16px var(--color-primary);
    }
  }
}

@media (max-width: 992px) {
  .signup {
    flex-direction: column;
    text-align: center;
    gap: 30px;

    &__img {
      max-width: 450px;
      height: auto;
    }

    &__form {
      align-items: center;
    }

    &__title {
      font-size: 42px;
    }

    &__subtitle {
      font-size: 18px;
      max-width: 320px;
    }
  }
}

@media (max-width: 600px) {
  .signup {
    padding: 20px;
    gap: 20px;

    &__img {
      display: none;
    }

    &__inputs,
    .input-wrapper,
    .signup__btn {
      width: 100%;
    }

    &__title {
      font-size: 28px;
    }

    &__subtitle {
      font-size: 16px;
      line-height: 150%;
    }
  }
}
